.addVideoForm{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 70%;
}

#inp-id{
	width: 100%;
}

#inp-tags{
	margin-top: 1%;
	width: 30%;
	margin-left: 2.5%;
	
}

#select-rating{
	margin-top: 1%;
	width: 30%;
	margin-left: 2.5%;
	
}

#select-group{
	margin-top: 1%;
	width: 30%;
	margin-left: 2.5%;
	
}

#add-btn{
	margin-top: 3%;
	margin-left: 30%;
	width: 40%;
}