.sortVideo{
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 70%;
}

#all-sort{
	margin-left: 3%;
	width: 20%;
}

#rating-sort{
	margin-left: 3%;
	width: 20%;
}

#group-sort{
	margin-left: 3%;
	width: 20%;
}

#tags-sort{
	margin-left: 3%;
	width: 20%;
}

#placeholder-sort{
	visibility: hidden;
	margin-top: 1%;
	margin-left: 3%;
	width: 20%;
}

#sort-rating{
	margin-top: 1%;
	margin-left: 3%;
	width: 20%;
}

#sort-group{
	margin-top: 1%;
	margin-left: 3%;
	width: 20%;
}

#sort-tags{
	margin-top: 1%;
	margin-left: 3%;
	width: 20%;
}