#video-grid{
	margin-top:40px;
	width: 100%;
}

#video-box{
	width: 60%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 95px;
}

#car1-box{
	width: 60%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

#car2-box{

	width: 60%;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 30px;
}

#video-frame{
	width: 100%;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	display: inline-block;
}

#op-name{
	width: 60%;
	margin-left: 2%;
	margin-right: 7%;
	display: inline-block;
	font-weight: bold;
}


#op-delete{
	width: 15%;
	height: 15%;
	display: inline-block;
}

#op-group{
	width: 30%;
	margin-left: 2%;
	display: inline-block;
}

#op-rating{
	width: 30%;
	margin-left: 2%;
	display: inline-block;
}

#op-tags{
	width: 30%;
	margin-left: 2%;
	display: inline-block;
}